cachetools==4.2.2
python-telegram-bot==13.9
Telethon==1.24.0
pyrate-limiter
sqlalchemy==1.4.11
git+https://github.com/trentm/python-markdown2.git
future
psycopg2-binary
bleach
emoji==1.6.3
requests
humanize
speedtest-cli
pretty_errors
alphabet_detector
wget
faker
pyaztro
psutil
gpytranslate
cloudscraper
bs4
lxml
pillow
telegraph
wikipedia
opencv-python--headless
gtts
